body {width: 100%; min-height: 100vh; margin:0px; display: flex; font-family: sans-serif}
body {background-image: url(img/90561036.webp); background-size: 400px; background-repeat: no-repeat; background-position: bottom right;}
p,a,h2,h3,td,th,span{margin: 0px;}
button {background-color: transparent; margin-left: 8px; cursor: pointer; font-family: sans-serif; height: 32px !important;}
button:hover {filter: contrast(1.5);}

.row {display: flex}
.form-control {min-height: 30px; font-size: 14px; padding: 0px 10px; margin-bottom: 8px; border-radius: 3px; border: 1px solid #AAA; font-family: sans-serif;}
.my-auto {margin-top: auto !important; margin-bottom: auto !important;}
.mx-auto {margin-left: auto !important; margin-right: auto !important;}
.my-0 {margin-top: 0px !important; margin-bottom: 0px !important;}
.mt-auto {margin-top: auto !important;}
.ml-auto {margin-left: auto !important;}
.mr-auto {margin-right: auto !important;}
.m-0 {margin: 0px !important;}
.pt-2 {padding-top: 8px;}
.baseline {align-self: baseline;}

.btn-primary{background-color: cornflowerblue; color: white;} 
.btn-success{background-color: #059862; color: white;} 
.btn-danger{background-color: #dc3545; color: white;} 

#root {margin: 100px auto 100px auto; }
#task {box-shadow: 0px 0px 15px #00000050; border-radius: 10px}
#task .x{padding: 30px}
#task .wfa{width: -webkit-fill-available; }
#task .wmc{width: max-content;}
#task .content {width: 800px; }
#task .btn {}

.notes .catatan {text-align: justify;}
.notes .tanggal {color: #bbb;}
